{
    # disable warning when GH actions are not pinned to a SHA1
    # disable warning on missing Dockerfile HEALTHCHECK
    # disable warning on missing Dockerfile apt-get version pinning
    "exclude-queries": [
        "555ab8f9-2001-455e-a077-f2d0f41e2fb9",
        "b03a748a-542d-44f4-bb86-9199ab4fd2d5",
        "965a08d7-ef86-4f14-8792-4a3b2098937e",
    ]}
}
